---
import Layout from '../layouts/Layout.astro'
import data from '../data/data.json'
import Container from '../components/Container.astro'
import { Picture } from '@astrojs/image/components'

export function getStaticPaths() {
  return data.map((item) => ({
    params: { name: item.name.replaceAll(' ', '-').toLowerCase() },
    props: item,
  }))
}

const { name, year, description, source, artist, images } = Astro.props

const src = images.gallery.split('/')[3].split('.jpg')[0]
const folder = images.gallery.split('/')[2]

const artistSrc = artist.image.split('/')[3].split('.jpg')[0]
const artistFolder = artist.image.split('/')[2]
---

<Layout>
  <main>
    <Container
      className="relative xl:pt-24 sm:pt-10 pt-6 flex flex-wrap xl:flex-row items-center flex-col sm:justify-between justify-center"
    >
      <div class="xl:self-auto xl:ml-0 sm:self-start sm:w-auto w-full">
        <Picture
          class="xl:w-[475px] lg:w-[600px] sm:w-[475px] w-full sm:h-[560px] h-[280px] object-cover"
          src={import(`../assets/${folder}/${src}.jpg`)}
          alt={name}
          widths={[475, 327]}
          sizes="(max-width:640px) 327px,(min-width:640px) 475px"
        />
      </div>
      <div class="xl:max-w-[445px]">
        <div
          class="sm:absolute relative desktop:left-[410px] xl:left-[27%] xl:top-24 sm:top-10 -top-12 sm:right-10
           sm:pl-[65px] sm:pb-[67px] sm:p-0 p-6 max-w-[445px] bg-white z-10"
        >
          <h1 class="sm:text-heading-1 text-heading-2 max-w-[315px]">{name}</h1>
          <h3 class="sm:mt-6 mt-2 text-subhead-1 text-darkGrey">
            {artist.name}
          </h3>
          <div
            class="absolute xl:top-[496px] sm:-bottom-32 -bottom-16 desktop:left-[90px] xl:left-[42%] sm:left-auto left-4 xl:right-auto md:right-12 sm:right-1 "
          >
            <Picture
              class="w-16 sm:w-32 h-16 sm:h-32 object-cover"
              src={import(`../assets/${artistFolder}/${artistSrc}.jpg`)}
              alt={name}
              widths={[475, 327]}
              sizes="(max-width:640px) 327px,(min-width:640px) 475px"
            />
          </div>
        </div>

        <div
          class="sm:absolute xl:top-24 sm:top-[670px] xl:right-6 sm:right-auto right-6 xl:left-auto md:left-[12%] 
           -z-10 sm:text-display text-displayMob text-lightGrey sm:text-left text-right"
        >
          {year}
        </div>

        <p
          class="xl:mt-28 xl:mr-32 sm:mt-36 -mt-5 xl:mb-20 sm:mb-10 mb-16 xl:max-w-[350px] sm:max-w-lg text-body text-darkGrey"
        >
          {description}
        </p>
        <a
          class="text-link-2 text-darkGrey underline decoration-1 uppercase"
          href={source}
          target="_blank"
          rel="noopener noreferrer">Go to sourse</a
        >
      </div>
    </Container>
  </main>
  <footer class="py-10">params</footer>
</Layout>
